.section{
  position: relative;
  overflow: hidden;

    &-background img{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &-foreground{
    padding: 30px 0;
    position: relative;
    z-index: 1000;
    overflow: hidden;
  }
}

$header-bg:#122b30;

$section-main-primary-bg:#11343a;
$section-main-secondary-bg:#122b30;


$section-primary-bg:#ffffff;
$section-secondary-bg:#12191e;
$section-rarest-bg:#131316;

.header{
  background: $header-bg;
}

.section-main{
  background: $section-main-primary-bg;
  &-content{
    background: $section-main-secondary-bg;
  }
}
